
   .tab-content-ask{
     .tab-content & { padding-top: 40px;}
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
      position: absolute;
      img {
        height: auto;
        max-width: 800px;
      }
      .tab-content-ask-body{
         display: flex;
         flex-direction: column;
         padding-bottom: 4px;
         p{
            padding: 0 2em;
            line-height: 1.2;
            color: white;
         }
      }
  }


