.tab-content.question{
  justify-content: flex-start;
  padding-top:20px;
}

 .tab-content-ask{
      display: flex;
      align-items:center;
      flex-direction: column;
      position: absolute;
      img {
        height: auto;
        width:40%;
      }
      .tab-content-ask-body{
         display: flex;
         flex-direction: column;
         padding-bottom: 4px;
         p{
            padding: 0 2em;
            line-height: 1.2;
            color: white;
         }
      }
  }

