.gallery-card-container {
    background:white;
    margin-top: @marginOffsetOneRow;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    //overflow-x: hidden;
    width: 100%;

    .gallery-card {
      display: flex;
      flex-direction: column;
      margin: 4px;
      padding-bottom: 20px;
      border-radius: 6px;
      width: 100%;
      @media @md{

      }
      img {
        height: 100%;
        max-width: 300px;
      }
      .gallery-card-meta {
        color: white;
        border-radius: 4px;
        opacity: 1;

        h3{
          color: @mentorme-color-primary;
        }
        p{
          margin:0;
          padding: 0 20px;
          color:@mentorme-color-darkgrey;
          line-height: 1.3em;
          text-align: justify;
        }
        i{
          font-size: 1em;
          color: @mentorme-color-primary;
        }
      }
    }
  }

