@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: @mentorme-color-primary;
  font-family: "Century Gothic", "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: @mentorme-color-black;

}

.container{
  width: 100%;
}

@import '../components/common/Navigations/Navigations';
@import '../components/common/Footer/Footer';
@import '../components/TabContent/SectionHero';
@import '../components/TabContent/TabContentContainer';

@import '../components/TabContent/SectionAbout';
@import '../components/TabContent/SectionGallery';
@import '../components/TabContent/SectionAsk';
//@import '../components/SectionBecomeAMentor/SectionBecomeAMentor';
