
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MentorMe</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css?v=1.0">
</head>
<body>
<!-- Navigation -->
<header>
    <a href="/" class="mk_header__logo">
        <img src="./images/mentorMeLogo-300_small.png">
    </a>
    <nav class="top-nav">
        <a>About US</a>
        <a class="nav-item-login" href="https://epic-meitner-afa3b4.netlify.com">
            Login/Register  <i class="fas fa-sign-in-alt"></i>
        </a>
    </nav>
</header>
<!--  Bottom Nav-->
<nav class="bottom-nav top-position" >
    <a class="section-tab"  href="index.html#tab-content-about">About MentorMe</a>
    <a class="section-tab" href="index.html#tab-content-mentor">Be a Mentor</a>
    <a class="section-tab" href="index.html#tab-content-ask">Talk to a Mentor</a>
</nav>
<main class="tab-content-container about">
    <section class="tab-content about">
        <div class="copy">
            <h1>Meet the team</h1>
            <p>Here are the brains behind the MentorMe app</p>
        </div>
        <div class="member-card-container">
            <div class=" member-card">
                <img class="member-photo member-alex" src="./images/member_alex.jpg">
                <h3>Alex King</h3>
                <p>Back End Engineer</p>
                <div class="social-bar">
                    <a href="https://www.linkedin.com/in/alex-ak/"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/_alex_ak"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/alex-ak"><i class="fab fa-github-alt"></i></a>
                </div>
            </div>
            <div class=" member-card">
                <img class="member-photo member-alex" src="./images/member_hunter.png">
                <h3>Hunter Smith</h3>
                <p>Project Lead / Engineer</p>
                <div class="social-bar">
                    <a href="https://www.linkedin.com/in/hunter-smith-5b77b7120"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/HSmithTweets"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/Hunter315"> <i class="fab fa-github-alt"></i></a>
                </div>
            </div>
            <div class=" member-card">
                <img class="member-photo member-alex" src="./images/member_taylor.png">
                <h3>Taylor Blount </h3>
                <p>Front End Engineer</p>
                <div class="social-bar">
                    <!--<a href=""> <i class="fab fa-linkedin-in"></i></a>-->
                    <a href="https://twitter.com/Third3y3Club"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/thirdeyeclub"> <i class="fab fa-github-alt"></i></a>
                </div>
            </div>

            <div class=" member-card">
                <img class="member-photo member-alex" src="./images/member_vlad.jpg">
                <h3>Turcan Vladimir</h3>
                <p>Front End Engineer</p>
                <div class="social-bar">
                    <a href="https://www.linkedin.com/in/vladimir-turcan-488284158/"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/justman00_VG"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/justman00"> <i class="fab fa-github-alt"></i></a>
                </div>
            </div>
            <div class=" member-card">
                <img class="member-photo member-alex" src="./images/member_yilun.jpg">
                <h3>Yi Lun Weng</h3>
                <p>UI Developer</p>
                <div class="social-bar">
                    <a href=""> <i class="fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/following"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/thirdeyeclub">  <i class="fab fa-github-alt"></i></a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="social-list">
            <!--<a href="https://twitter.com" target="_blank" class="zocial-twitter">Twitter</a>-->
            <a href="https://www.linkedin.com/feed/" target="_blank" class="zocial-linkedin">LinkedIn</a>
            <a href="https://github.com/wengellen" target="_blank" class="zocial-github">Github</a>
        </div>
        <div>Copyright©2019. All rights reserved.</div>
    </footer>
</main>

<script src="./js/scripts.js"></script>
</body>
</html>
