
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MentorMe</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css?v=1.0">
</head>
<body>
<!-- Navigation -->
<div class="container">
    <header>
        <a href="#" class="mk_header__logo">
            <img src="./images/mentorMeLogo-300_small.png">
        </a>
        <nav class="top-nav">
            <a href="/about">About US</a>
            <a class="nav-item-login" href="https://epic-meitner-afa3b4.netlify.com">
                Login/Register  <i class="fas fa-sign-in-alt"></i>
            </a>
        </nav>
    </header>
    <!--  Hero  Section-->
    <section class="hero-section-container">
        <div class="hero-section">
            <div class="hero-headlines-container">
                <h1 class="hero-headline">Find a Mentor,</h1>
                <h1  class="hero-headline">Be a Mentor,</h1>
                <h1  class="hero-headline white">Share <br>Dreams</h1>
            </div>
        </div>
        <div class="bottom-nav" >
            <a class="section-tab"  href="#tab-content-about">About MentorMe</a>
            <a class="section-tab" href="#tab-content-mentor">Be a Mentor</a>
            <a class="section-tab" href="#tab-content-ask">Talk to a Mentor</a>
            <span class="section-tab-active"></span>
        </div>
    </section>

    <main class="tab-content-container">
        <section class="tab-content aboutMentorApp" id="tab-content-about">
            <div class="img-container">
                <img  class="screenshot" src="./images/screenshot.png">
            </div>
            <div class="copy">
                <h1 class="tooltip">MentorMe App</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown ived not only five centuries, bssentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ips</p>
            </div>
            <button class="btn-mentor">Sign up</button>
        </section>
        <section class="tab-content" id="tab-content-mentor">
            <div class="gallery-card-container">
                <div class="gallery-card">
                    <img class="gallery-card-photo" src="/images/mentor1.png">
                    <div class="gallery-card-meta">
                        <h3>Become a Mentor</h3>
                        <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley unchange et sheets containing Lorem Ips</p>
                    </div>

                </div>
                <div class="gallery-card">
                    <img class="gallery-card-photo" src="/images/mentor2.png">
                    <div class="gallery-card-meta">
                        <h3>Share your experience</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown ived not only five centuries, bssentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ips</p>
                    </div>
                </div>
            </div>
            <button class="btn-mentor blue">SIGN UP TO BE A MENTOR NOW</button>
        </section>

        <section class="tab-content" id="tab-content-ask">
            <div class="tab-content-ask">
                <!--<img class="tab-content-ask-photo" src="/images/screenshot_question_feed.png">-->
                <div class="tab-content-ask-body">
                    <h3>FIND A MENTOR, ASK A QUESTION</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown ived not only five centuries, bssentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ips</p>
                    <button class="btn-mentor">Go ASK A QUESTION</button>
                </div>
            </div>

        </section>

        <footer>
            <div class="social-list">
                <a href="https://twitter.com" target="_blank" class="zocial-twitter">Twitter</a>
                <a href="https://www.linkedin.com" target="_blank" class="zocial-linkedin">LinkedIn</a>
                <a href="https://github.com/wengellen" target="_blank" class="zocial-github">Github</a>
            </div>
            <div>Copyright©2019. All rights reserved.</div>
        </footer>
    </main>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="/js/scripts.js"></script>
</body>
</html>
