.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid #E2E8ED;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  color: #5887F9;
  font-family: "Century Gothic", "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  color: #2B2F3B;
}
.mk_container {
  margin: 0 auto;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
header {
  height: 78px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2px 1em 0  1em;
  z-index: 2;
}
header .mk_header__logo img {
  width: 75px;
  height: 75px;
  border-radius: 10%;
  color: white;
}
header .nav-item-login {
  background: linear-gradient(#5887f9, #5887F9);
  background-color: #5887f9;
  border-radius: 6px;
  padding: 12px 15px;
  color: white;
}
header .nav-item-login i {
  margin-left: 8px;
}
header .top-nav {
  display: flex;
  align-items: center;
}
header .top-nav a {
  margin: 1rem;
}
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.bottom-nav a {
  font-weight: bolder;
  font-size: 0.9rem;
}
footer {
  background: -webkit-linear-gradient(#272933, #111216);
  background: linear-gradient(#272933, #111216);
  border-top: 1px solid #53576d;
  padding: 1em;
  width: 100%;
  text-align: center;
  color: #494b46;
  font-size: 1em;
}
.social-list {
  margin-bottom: 2em;
}
[class*="zocial-"] {
  color: #63665e;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
[class*="zocial-"]:before {
  color: #cac6b2;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  width: 2em;
}
.hero-section-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 79px - 56px);
  color: white;
  margin-top: 79px;
  padding: 0 1em;
}
.hero-section-container .hero-section {
  width: 100%;
  height: 100%;
  background-image: url("/images/background_image_hero-1600_large_2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
}
.hero-section-container .hero-headlines-container {
  position: absolute;
  left: 2em;
  bottom: 180px;
}
.hero-section-container .hero-headline {
  font-size: 40px;
  line-height: 1.2;
  margin: 0 ;
  padding: 0 ;
  text-shadow: 1px 1px 1px #4C5264;
}
@media screen and (min-width: 400px) {
  .hero_section {
    background-image: url("/images/background_image_hero-800_large_1x");
  }
  .hero-section-container .hero-headline {
    font-size: 36px;
    color: white;
  }
}
@media (min-width: 1001px) {
  .hero_section {
    background-image: url("/images/background_image_hero-1600_large_2x");
  }
  .hero-section-container .hero-headline {
    font-size: 40px;
    color: white;
  }
}
.tab-content-container {
  height: calc(100vh - 56px);
  min-width: 300px;
}
@media screen and (min-width: 300px) {
  .tab-content-container {
    margin-top: calc(56px);
  }
}
.tab-content-container .tab-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  text-align: center;
  padding: 0 1.2em;
  color: #4C5264;
  background: linear-gradient(82deg, rgba(88, 135, 249, 0.6), rgba(85, 116, 247, 0.6), rgba(96, 195, 255, 0.8), rgba(88, 135, 249, 0.8));
}
.tab-content-container .tab-content .img-container {
  display: flex;
  transition: all 0.3s ease;
  justify-content: center;
  overflow: hidden;
  transform: scale(0.8);
}
.tab-content-container .tab-content .img-container .card {
  border-radius: 10px;
  margin-left: -2em;
}
@media screen and (min-width: 300px) {
  .tab-content-container .tab-content .img-container .card {
    margin-left: 0;
  }
}
.tab-content-container .tab-content .copy h1 {
  margin-top: 0;
  margin-bottom: 1em;
}
.tab-content-container .tab-content .copy p {
  color: white;
  padding: 0 2em;
}
.tab-content-container .tab-content button.btn-mentor {
  padding: 18px 70px;
  margin: 30px;
  border-radius: 6px;
  background: white;
  color: #5887F9;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .hero_section {
    background-image: url("/images/background_image_hero-800_large_1x");
  }
  .hero-section-container .hero-headline {
    font-size: 36px;
    color: white;
  }
}
.tab-content-container.about {
  margin-top: calc(76px + 76px);
  height: 100%;
  background-image: url("/images/background_image_hero-500_medium.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.tab-content-container.about .copy {
  padding-top: 30px;
}
.tab-content .member-card-container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
@media screen and (min-width: 400px) {
  .tab-content .member-card-container {
    padding-top: 1em;
  }
}
.tab-content .member-card-container .member-card {
  background-color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.tab-content .member-card-container .member-card .social-bar {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}
.tab-content .member-card-container .member-card .social-bar i {
  margin: 0 10px;
}
.tab-content .member-card-container .member-card .social-bar a {
  transition: all 0.3s ease;
}
.tab-content .member-card-container .member-card .social-bar a:hover {
  color: #5887F9;
  transform: scale(1.4);
}
.tab-content .member-card-container .member-card img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}
.tab-content .member-card-container .member-card h3 {
  color: #4C5264;
  margin: 1px;
  padding: 0;
}
.tab-content .member-card-container .member-card p {
  margin-top: 4px;
  color: white;
  font-weight: bold;
  background: linear-gradient(82deg, rgba(85, 116, 247, 0.7), rgba(96, 195, 255, 0.7));
  padding: 4px 14px;
  border-radius: 2px;
  font-size: 12px;
}
.bottom-nav.top-position {
  z-index: 1;
  top: 76px;
  position: absolute;
}
#tab-content-mentor {
  background: white;
}
.gallery-card-container {
  margin-top: calc(76px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}
.gallery-card-container .gallery-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4px;
  padding-bottom: 20px;
  border-radius: 6px;
  max-width: 500px;
}
.gallery-card-container .gallery-card img {
  max-height: 300px;
  height: auto;
  width: auto;
}
.gallery-card-container .gallery-card .gallery-card-meta {
  color: white;
  border-radius: 4px;
  opacity: 1;
}
.gallery-card-container .gallery-card .gallery-card-meta h3 {
  color: #5887F9;
}
.gallery-card-container .gallery-card .gallery-card-meta p {
  margin: 0;
  padding: 0 20px;
  color: #4C5264;
  line-height: 1.3em;
  text-align: justify;
}
.gallery-card-container .gallery-card .gallery-card-meta i {
  font-size: 1em;
  color: #5887F9;
}
.tab-content-ask {
  display: flex;
  align-items: center;
}
.tab-content-ask .tab-content-ask-photo {
  max-height: 320px;
}
.tab-content-ask .tab-content-ask-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
}
.tab-content-ask .tab-content-ask-body p {
  padding: 0 2em;
  line-height: 1.2;
}
